@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77); /* Color of the thumb (the draggable part) */
  border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track (the background) */
}
body{
  overflow-x: hidden;
}